
header {
	position: relative;
	height: 50px;
}

nav {
	height: 50px;
	background-color: #212121;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

.hamburger {
	display: none;
}

.menu {
	display: flex;
	justify-content: space-between;
	padding: 13px 70px;
	margin: 0;
	list-style: none;

	&_link {
		font-size: 15px;
		font-weight: 300;
		font-stretch: normal;
		font-style: normal;
		letter-spacing: normal;
		text-align: left;
		color: #ffffff;
	}

	&_item {
		border-right: 2px dotted #040404;
		padding-right: 28px;
		
		&:last-child{
			border: none;
		}
	}
}

header {
	position: relative;

	.subheader {
		position: absolute;
		top: 50px;
		width: 100%;
		height: 84px;
		background-color: rgba(0, 0, 0, 0.6);
	}
}

.subheader {
	.logo_link {
		display: block;
		max-width: 100%;
		margin-top: 16px;
	}

	.subheader_text {
		margin-top: 6px;
		opacity: 0.5;
		font-size: 13px;
		font-weight: 100;
		font-stretch: normal;
		font-style: normal;
		letter-spacing: normal;
		text-align: left;
		color: rgba(255, 255, 255, 0.5);
	}

	.call {
		font-size: 12px;
		font-weight: 300;
		font-stretch: normal;
		font-style: normal;
		letter-spacing: normal;
		text-align: right;
		color: #ffffff;
		margin-top: 23px;
		line-height: 9px;
	}


	.tel {
		display: block;
		margin-top: 8px;
		font-size: 22px;
		font-weight: 400;
		font-stretch: normal;
		font-style: normal;
		letter-spacing: normal;
		text-align: right;
		color: #ffffff;
		line-height: 12px;
	}

	&_btn {
		margin-top: 19px;
		width: 172px;
		height: 46px;
		box-shadow: inset 0px 0 0 0 rgba(0, 0, 0, 0.12);
		border: none;
		background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
		text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);
		font-size: 14px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		letter-spacing: normal;
		text-align: center;
		color: #ffffff;
		border-radius: 4px;
		text-transform: uppercase;
		@include btn_hover;

		}
}

.promo {
	min-height: 665px;
	background: url(../img/bg/firstBG.jpg) center (center / cover) no-repeat;
	padding: 151px 0 135px 0;

	&_header {
		font-size: 60px;
		font-weight: 900;
		font-stretch: normal;
		font-style: normal;
		letter-spacing: normal;
		text-align: center;
		color: #ffffff;
		text-transform: uppercase;
		line-height: 60px;
		margin: 0;
	}

	&_subheader {
		font-size: 36px;
		font-weight: 700;
		color: #ffffff;
		font-stretch: normal;
		font-style: normal;
		letter-spacing: normal;
		text-align: center;
		text-transform: uppercase;
		line-height: 36px;
		margin: 0;
		margin-top: 22px;
	}

	&_descr {
		font-size: 18px;
		font-weight: 400;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.33;
		letter-spacing: normal;
		text-align: center;
		color: #ffffff;
		margin-top: 23px;
	}

	&_descr {
		margin-top: 34px;
	}

	&_btn {
		display: block;
		margin: 118px auto 0 auto;
		width: 259px;
		height: 63px;
		box-shadow: inset 0px 0 0 0 rgba(0, 0, 0, 0.12);
		border: none;
		background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
		border-radius: 4px;
		text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);
		font-size: 18px;
		font-weight: 400;
		font-stretch: normal;
		font-style: normal;
		letter-spacing: normal;
		text-align: center;
		color: #ffffff;
		text-transform: uppercase;
		@include btn_hover;
	}
}

.reasons {
	padding: 71px 0 65px 0;
	min-height: 900px;
}

.label {
	margin: 0 auto;
	width: 112px;
	height: 24px;
	background-color: #000000;

	.label_text {
		padding-top: 6px;
		font-size: 11px;
		font-weight: 100;
		font-stretch: normal;
		font-style: normal;
		letter-spacing: normal;
		text-align: center;
		color: #ffffff;
		line-height: 1;
		text-transform: uppercase;
	}
}

.reasons_header {
	margin: 0;
	margin-top: 38px;
	font-size: 38px;
	font-weight: 700;
	text-align: center;
	color: #222222;
	text-transform: uppercase;
	line-height: 0.8;
}

.reasons_subheader {
	font-size: 17px;
	font-weight: 400;
	text-align: center;
	color: #222222;
	margin-top: 19px;
}

.reasons {
	.reason_wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 35px;
	}

	.icon_wrap {
		margin-right: 26px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 113px;
		height: 113px;
		background-color: #1eacc7;
		border-radius: 100%;
	}

	.reason_wrapper .reason_descr {
		max-width: 343px;
	}
}

.reason_title {
	font-size: 17px;
	font-weight: 400;
	color: $col1;
	line-height: 21px;
}

.reason_text {
	font-size: 15px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	text-align: justify;
	color: #202020;
	line-height: 21px;
}

.mobile {
	min-height: 864px;
	padding: 48px 0 79px 0;
	background: url(../img/bg/appBG.png) center center/cover no-repeat;
	
	.row {
		margin-top: 32px;
	}

	&_app {
		width: 320px;
		height: 280px;
		margin: 0 auto;
		margin-bottom: 19px;
		position: relative;
	
		&_1 {
		background: url(../img/app_img_1.png) center center/cover no-repeat;
		}
		&_2 {
			background: url(../img/app_img_2.png) center center/cover no-repeat;
		}
		&_3 {
			background: url(../img/app_img_3.png) center center/cover no-repeat;
		}
		&_4 {
			background: url(../img/app_img_4.png) center center/cover no-repeat;
		}
		&_5 {
			background: url(../img/app_img_5.png) center center/cover no-repeat;
		}
		&_6 {
			background: url(../img/app_img_6.png) center center/cover no-repeat;
		}
		
		&_txt {
			font-size: 24px;
			line-height: 31px;
			text-align: center;
			color: #ffffff;
			font-weight: 400;
			text-transform: uppercase;
			padding-top: 91px;
		}
		&_icon {
			width: 26px;
			height: 26px;
			background-color: #000000;
			border-radius: 100%;
			position: absolute;
			bottom: 35px;
			left: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			transform: translateX(-50%);
			cursor: pointer;

			&:before {
				content: '';
				display: block;
				width: 2px;
				height: 14px;
				background-color: $col1;
				position: absolute;
				right: 50%;
				transform: translateX(50%);
				transition: 0.5s all;
			}

			&:after {
				content: '';
				display: block;
				width: 14px;
				height: 2px;
				background-color: $col1;
				transition: 0.5s all;
			}

			&:hover {
				&:before, &:after{
					background-color: $col2;
					}
				}
			}
	}
	
}

.car {
	min-height: 896px;

	.container {
		position: relative;
	}

	&_bg {
		position: absolute;
		top: 175px;
		left: 195px;
		z-index: 10;
	}

	&_part1{
		padding-top: 56px;
		height: 499px;
		background-color: #070716;
		&_text {
			display: none;
		}
	}
	&_part2 {
		padding-bottom: 138px;
		min-height: 397px;
		background: url(../img/bg/behind_carBG.jpg) center center/cover no-repeat;
		
		&_text {
			padding-top: 217px;
			font-size: 17px;
			font-weight: 300;
			line-height: 24px;
			text-align: center;
			color: #222222;
		}
	}
	.label {
		width: 112px;
		height: 24px;
		background-color: #ffffff;
	
		&_text {
			font-size: 11px;
			font-weight: 100;
			text-align: center;
			color: #070716;
			text-transform: uppercase;
			font-weight: 100;
		}
	}
	.reasons_header {
		font-size: 38px;
		font-weight: 700;
		text-align: center;
		color: #ffffff;
		text-transform: uppercase;

	}
	.reasons_subheader {
		font-size: 17px;
		text-align: center;
		color: #ffffff;
		font-weight: 400;
	}
}

.demand {
	min-height: 919px;
	padding: 68px 0 84px 0;
	.reasons_header {
		margin-top: 33px;
	}
	.row {
		margin-top: 33px;
	}
	&_header{
		font-size: 22px;
		font-weight: 400;
		color: $col1;
		&_bot {
			color: #ff5656;
		}
	}
	&_list {
		list-style-type: none;
		padding-left: 50px;
		margin-top: 22px;

		li{
			position: relative;
			margin-bottom: 10px;
			font-size: 17px;
			font-weight: 300;
			line-height: 24px;
			text-align: left;
			color: #222222;

			&:before {
				content: '';
				position: absolute;
				top: 3px;
				left: -30px;
				width: 21px;
				height: 20px;
				background: url('../icons/checkB.png') center center/cover no-repeat;

			}
		}
		&_bot {
			li{
			&:before {
				background: url('../icons/checkR.png') center center/cover no-repeat;

			}
		}
		}
	}
	&_subheader{
		color: $col1;
		font-weight: 300;
	}
	&_bot{
		margin-top: 62px;
		
	}
	
}

.world {
	min-height: 717px;
	background: url(../img/bg/mapBG.jpg) center center/cover no-repeat;
	padding: 49px 0 49px 0;

	.label {
		width: 76px;
		height: 24px;
		background-color: #ffffff;
	
		&_text {
			color: #070716;
		}
	}
	.reasons_header {
		color: #ffffff;
		}
	.reasons_subheader {
		color: #ffffff;
	}
	&_all {
		margin-top: 654px;
		font-size: 15px;
		line-height: 68px;
		text-align: center;
		color: #1fbad6;
		text-transform: uppercase;

		& a:visited {
			color: #1fbad6;
		}
		& a:hover {
			text-decoration: none;
			color: #fff
		}
	}
}
.footer {
	min-height: 156px;
	padding: 14px 23px 39px 23px;

	&_divider {
		width: 299px;
		height: 4px;
		background-color: #1fbad6;
		margin: 0 auto;
	}
	&_container {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-top: 34px;
		& > div {
			width: 33%;
			&:nth-child(3) {
				display: flex;
				justify-content: flex-end;
			}
		}
		&_social{
			width: 160px;
			display: flex;
			justify-content: space-between;

		}
		&_icons{
				display: flex;
				justify-content: center;
				align-items: center;
				width: 32px;
				height: 32px;
				background-color: #070716;
				border-radius: 100%;
				cursor: pointer;
				& i {
					color: #ffffff;

				}
			}
		

		&_menu{
			width: 390px;
			margin: 0 auto;

			&_items {
				display: flex;
				justify-content: space-around;
				
				& a{
					font-size: 15px;
					font-weight: 300;
					text-align: left;
					color: #070716;
					text-transform: uppercase;
				}
			}
			&_subitems {
				margin-top: 16px;
				display: flex;
				justify-content: space-between;

				& a {
					font-size: 11px;
					font-weight: 300;
					color: #999999;
					text-transform: uppercase;
				}
			}
			&_lang {
				margin-top: 19px;
				& a {
					display: block;
					margin: 0 auto;
					font-size: 11px;
					text-align: center;
					color: #1fbad6;
					text-transform: uppercase;
				}
			}
		}
		&_store {
			margin-top: 5px;
			cursor: pointer;
		}
	}
}

.subheader .xs-visible {
	display: none;
}