@media (max-width: 1200px) {
	.menu {
		&_link {
			font-size: 13px;
		}
		&_item{
		padding-right: 20px;
		}
	}
	.promo {
		&_header {
			font-size: 50px;
		}
	}
	.reasons {
		.reason_wrapper {
			align-items: flex-start;
		}
		.reason_wrapper .reason_descr {
			max-width: 305px;
		}
		
	}
	.mobile {
		.mobile_app {
			width: 300px;
		}
	}
	.car {
		&_bg {
			left: 100px;
		}
	}

	.footer{
		&_container {
			flex-wrap: wrap;
			&_store {
				display: flex;
				margin: 0;
				& a {
					margin: 0 3px;

				}
				& img {
					width: 100%;
				}
		}
	}
		&_container > div {
			width: 50%;
			display: flex;
			justify-content: center;
			margin-bottom: 20px;

			&:first-child {
				width: 25%;
			}
			&:last-child {
				width: 25%;
				display: flex ;
				justify-content: flex-end;
			}

		}
		
	}
}

@media (max-width: 991px) {
	.menu {
		&_link {
			font-size: 10px;
		}
		&_item{
		padding-right: 8px;
		}
	}
	.subheader{
		.logo_link{
			img {
				width: 100%;
			}
		}
		& .tel {
			font-size: 19px;
		}
		&_btn {
			width: 100%;
			height: 40px;
			margin-top: 23px;
		}
	}
	.subheader .subheader_text {
		font-size: 10px;
	}
	.promo {
		&_header {
			font-size: 40px;
		}
		&_subheader {
			font-size: 30px;
		}
	}
	.reasons {
		.reason_wrapper {
			flex-direction: column;
			align-items: center;
				& .icon_wrap {
						margin-right: 0px;
					}
			}

		}
		.reason_wrapper .reason_descr {
			max-width: 305px;
			margin-top: 20px;
		}
	
	.car {
		&_bg {
			left: 0px;
			& img {
				width: 100%;
			}
		}

	}

	.footer{
		&_container {
			flex-wrap: wrap;
		}
		
		&_container > div {
			width: 100%;
			display: flex;
			justify-content: center;
			margin-bottom: 20px;

			&:last-child {
				width: 100%;
				justify-content: center;
			}
		}
		
	}
}
@media (max-width: 775px) {
	.menu {
		position: fixed;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		top: 0;
		left: -100%;
		width: 85%;
		height: 100vh;
		padding: 20px 15px;
		background-color: rgba(0, 0, 0, 0.8);
		transition: 0.8s all;
		&_active {
			left: 0;
		}
		&_item {
			padding-right: 0;
			border: none;
			margin-top: 20px;
		}
			&_link {
				font-size: 20px;

			}

	}
	.hamburger {
		display: block;
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		width: 26px;
		height: 12px;

		span {
			display: block;
			height: 2px;
			width: 100%;
			background-color: #fff;
			margin-bottom: 2px;
			transition: 0.5s all;

		}
		&_active {
			span {
				margin-bottom: -2px;
				&:nth-child(1) {
					transform: translateY(3px) rotate(-45deg);
				}
				&:nth-child(2) {
					display: none;
				}
				&:nth-child(3) {
					transform: translateY(3px) rotate(45deg);
				}
			}
		}

	}
	.subheader {
		&_text {
			display: none;
		}
		& .xs-visible{
		display: block;
		}
		.tel {
			display: block;
			margin-top: 10px;
			font-size: 15px;
			text-align: center;
			color: #ffffff;
			text-transform: uppercase;
		}
		&_btn {
			display: block;
			width: 200px;
			height: 40px;
			margin: 0 auto;
			margin-top: 8px;
		}
	}
	.xs-hidden {
		display: none;
	}
	.promo {
		&_header {
			line-height: 45px;
		}

	}
	.reasons{

		.reason_title {
			text-align: center;
		}
		.reason_wrapper .reason_descr {
		max-width: 350px;
		margin-top: 20px;
			& .reason_text {
			margin-top: 10px;
		}
	}
}
	.mobile {
		.reasons_header {
			font-size: 30px;
		}
	}
	.car {
		min-height: 770px;
		.reasons_header {
			font-size: 30px;
		}
		&_part2 {
			min-height: 280px;
			padding-bottom: 70px;
			&_text {
				padding-top: 100px;
			}
		}
	}
	.footer{
		&_container > div {
			&:first-child {
				margin: 10px auto 20px auto;
			}
		}
	}
}

@media (max-width: 575px) {
	nav {
		height: 30px;
	}
	header {
		height: 30px;
		.subheader {
		height: 60px;
		top: 30px;
		&_btn {
			width: 110px;
			height: 22px;
			font-size: 10px;
			text-align: center;
			color: #ffffff;
			margin-top: 7px;
		}
		.tel {
			font-size: 12px;
		}
	}
	.menu {
		&_item {
			width: 100%;
			padding: 0 4px;
		}
		&_link {
			display: block;
			text-align: center;

		}
	}
	}
	.promo {
		min-height: 400px;
		padding: 113px 0 35px 0;
		&_descr {
		display: none;
		}
		&_header {
			font-size: 30px;
			padding: 0 24px;
			line-height: 40px;
		}
		&_subheader {
			font-size: 20px;
			line-height: 30px;

		}
		&_btn {
			margin-top: 72px;
			width: 210px;
			height: 50px;
		}
	}
	.reasons {
		padding: 22px 0 50px 0;
		
		&_header {
			font-size: 15px;
			margin-top: 15px;
			line-height: 15px;
			
		}
		.reason_wrapper {
			margin-top: 26px;
			.icon_wrap {
				width: 100px;
				height: 100px;
			}
			.reason_descr {
				margin-top: 27px;
				width: 100%;
				.reason_title {
					font-size: 16px;
				}
			}
			
		}
	}
	.mobile {
		padding: 22px 0 43px 0;
		.row {
			margin-top: 27px;
		}
		.reasons_header {
			font-size: 16px;

		}
		.reasons_subheader {
			font-size: 14px;
			margin-top: 11px;
		}
		.mobile_app {
			width: 100%;
			height: 254px;
			&_txt {
				padding: 81px 40px 125px 40px;
				font-size: 18px;
			}
			&_icon {
				bottom: 25px;
			}
		}
	}
	.car {
		min-height: 390px;
		&_part1 {
			padding: 25px 0 15px 0;
			height: inherit;
			
			&_text {
				width: 250px;
				display: block;
				font-size: 17px;
				font-weight: 300;
				line-height: 24px;
				text-align: center;
				color: #ffffff;
				margin: 23px auto 0 auto;
			}
		}
		.reasons_header, .reasons_subheader {
			display: none;
		}
		&_bg {
			position: static;
			margin-top: 35px;
		}
		&_part2 {
			display: none;}
	}
	.demand {
		padding: 25px 0 26px 0;
		.reasons_header {
			margin-top: 15px;
		}
		.row {
			margin-top: 0;
		}
		&_list {
			margin-top: 10px;
			
			li:before {
				left: -35px;
			}
		}
		&_header {
			margin-top: 15px;
		}
		&_bot {
			margin-top: 0;
		}
	}
	.world {
		padding: 25px 0 30px 0;
		min-height: 360px;
		position: relative;
		.reasons_header {
			margin-top: 15px;
		}
		.reasons_subheader {
			margin-top: 10px;
		}
		&_all {
			width: 100%;
			font-size: 15px;
			position: absolute;
			bottom: 20px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	.footer {
		padding: 25px 18px 20px 18px;
			&_container > div:nth-child(1) {
				width: 100%;	
				order: 2;
				margin: 20px auto 10px auto;
				margin-bottom: 10px;
			}

			&_container > div:nth-child(2) {
				margin-bottom: 0;
			}
			&_container > div:nth-child(3) {
				order: 3;
			}
		&_container {
			margin-top: 22px;

				&_icons{
					margin-right: 4px;
				}
			
			&_menu_subitems{
				justify-content: center;
				flex-wrap: wrap;
				& a {
					margin: 0 5px;

				}
			}
		}
		&_divider {
			width: 253px;
		}
		&_container_menu_items a {
			font-size: 14px;
		}

	}
}
